asgiref
contourpy
cycler
Django
fonttools
freetype-py
gunicorn
kiwisolver
matplotlib
numpy
opencv-python-headless
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
reportlab
six
sqlparse
tzdata
whitenoise
